#adv-text{
	
	width: 980px;
	font-size: 30px;
	color: black;
	height: 45px;
	margin-bottom: 20px;
	margin-top: 0px;
	padding-left: 250px;


}
#adv-text p{
	margin:0px;
}
#adv-content{
	padding-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 80%;
	height: 730px;
	border: 1px solid  #c4c4c4;
	border-radius: 10px;
	background-color:#f6f6f6;
	margin-bottom: 50px;
}
.adv-table{
    
	margin-right: auto;
	margin-left: auto;
}
.adv-title{
	width:200px;
	font-size: 18px;
	color: 	#696969;
	height: 40px;
    text-align: right;
    padding-right:50px; 
}
.row0 input{
	width: 300px;
	height: 25px;
	border:1px solid #ddd;
	border-radius: 5px;
}
.row0 textarea{
	width: 300px;
	height: 50px;
	border:1px solid #ddd;
	border-radius: 5px;
}
.row1 input{
	width: 110px;
	border:1px solid #ddd;
	border-radius: 5px;
	height: 25px;
	}
#la input{
	width: 100px;
	height: 30px;
	background-color:#b8bcae;
	border: 0px;

}
#la {
	height: 50px;
}
#la input:hover{
	background: #8e9187;
}

input:focus{
	outline: none;
}
textarea:focus{
	outline: none;
}
.searchtitle{
	font-size: 24px;
}
.line{
	width: 95%;
	height: 1px;
	background-color: #c4c4c4;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}