
.wd_blast1{
	position: relative;
	width: 400px;
	height: 130px;
	margin:0 auto;
	padding-top: 10px;
}
.wd_blast1 p{
	font-size: 18px;
	font-weight: 500;
}
#text_blast{
	margin-left: 40px;
	width: 350px;
	height: 55px;
	border-radius: 5px;
}
.wd_blast{
	width: 400px;
	margin:0 auto;
	height: 50px;
}
#file_blast{
	padding-left: 75px;

}
#Inputfile_blast{
	padding-left: 20px;

}
.lb_blast{
	padding-right: 10px;
}
.btn_right{
	margin-left: 90px;
}
.btn_left{
	margin-left: 80px;
}
#content{
    border-radius: 5px;
/*border: 1px solid #e1e1e8;*/	
	background-color:#e7f5e6;
	width: 700px;
	margin:80px auto 40px auto;
}
.line{
	width: 90%;
	margin:0 auto;
	border: 1px solid grey;
	background-color: grey;
}
h2{
	margin-bottom:7px;
}